.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}

.nav-section {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.menu-list {
  display: flex;
  list-style-type: none;
}

.menu-list li {
  padding: 10px;
}

.menu-area {
  display: flex;
  justify-content: center;
}

.search {
  justify-content: flex-end;
  align-items: center;
}

.search-box {
  border-bottom: 1px solid black;
  position: absolute;
  right: 20px;
  padding: 5px;
}

.search-box input {
  border:none;
  margin-left: 5px;
}

.search-box input:focus {
  outline:none
}

.card {
  border: none !important;
  margin-bottom: 10px;
}

.choice {
  font-size: 11px;
  color: #63768a;
  font-weight: bold;
  height: 20px;
}

.new-product {
  font-size: 11px;
  height: 20px;
}

.card:hover {
  transform: scale(1.1);
  z-index: 1;
}

.product-img {
  display: flex;
  justify-content: flex-end;
}

.product-img > img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.product-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-price {
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
}

.product-choice {
  font-size: 16px;
  color: #007BFF;
  margin-bottom: 10px;
}

.product-new {
  font-size: 16px;
  color: #28a745;
  margin-bottom: 20px;
}